* {
    margin: 0;
}
header {
    background: #fff;
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
}
#ham {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    background: none;
    border: none;
}
#ham span {
    display: block;
    background-color: #3f4228;
    margin: 3%;
    width: 35px;
    height: 3px;
}
header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    transition: 0.8s ease-in-out;
}
header nav a {
    color: #fff;
    background: #3f4228;
    font: 38px Arial;
    text-decoration: none;
    padding: 28px;
}
#cartech-logo {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}
#cartech-logo img {
    width: 85px;
    padding: 8px;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}
#login a {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#login i {
    color: #3f4228;
    font-size: 18px;
}
#login span {
    font-size: 12px;
    color: #3f4228;
    padding: 6px;
    font-family: Calibri;
}
#cartech-landing-cover {
    background: url(../graphics/cartech-ontario.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 10vh;
}
#cartech-landing-cover h3 {
    color: #3f4228;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
}
#cartech-landing-cover h1 {
    color: #3f4228;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    font-size: 36px;
    font-weight: 400;
    transition: 1s;
}
#cartech-landing-cover h2 {
    color: #3f4228;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    font-weight: 400;
}
#cartech-landing-cover h4 {
    color: #3f4228;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}
#to-serv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25%;
}
@keyframes glowup {
    from{opacity: 0; font-size: 6px;}
    to {opacity: 1; font-size: 18px;}
}
#to-serv a {
    background-color: rgba(255,255,255,0.7);
    color: #3f4228;
    font-size: 18px;
    font-family: arial;
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 5%;
    padding: 8px;
    animation: glowup 2s;
    transition: 2s ease-in-out;
}
#section2 {
    background: #3f4228;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#section2 div h1 {
    color: #e6e7c1;
    font-weight: 400;
    font-family: Arial;
    margin: 18% 7% 0%;
    font-size: 32px;
}
#section2 div h2 {
    color: #ff952e;
    font-family: Arial;
    margin: 2% 7%;
}
#section2 div h5 {
    color: #fff;
    font-family: Arial;
    margin: 15% 7%;
    font-size: 20px;
    line-height: 1.8;
}
#section2 div p {
    color: #e6e7c1;   
    font-family: Arial;
    margin: 4% 7%;
    font-size: 18px;
}
#section2 div a {
    color: #e6e7c1;
    font-family: Arial;
    margin: 2% 7%;
    font-size: 18px;
}
#secImg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#section2 img {
    width: 70%;
    box-shadow: 12px 12px 0px #babba5;
    margin-top: 15%;
    align-self: center;
    margin-bottom: 18%;
}
#membership-cartech {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #e2e3c7;
    font-family: arial;
}
#membership-cartech h2 {
    font-size: 42px;
    text-align: center;
    color: #444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25%;
    width: 80%;
    line-height: 1.5;
    align-self: center;
}
#membership-cartech h2 span {
    color: #3f4228;
}
#membership-cartech h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 10%;
    color: #444;
}
#membership-cartech h6 {
    text-align: center;
    font-size: 14px;
    margin-top: 5%;
    color: #444;
    font-weight: 400;
}
#membership-cartech a {
    background: #3f4228;
    color: #e2e3c7;
    text-decoration: none;
    font-size: 24px;
    text-wrap: wrap;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    width: 180px;
    align-self: center;
    margin-top: 25%;   
    margin-bottom: 20%; 
}
#serv-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#banner-serv {
    display: flex;
    width: 90%;
    height: 30vh;
    border-radius: 8px;
    background: url(../graphics/fleet-service-in-brampton.jpg);
    background-color: rgba(63, 66, 40, 0.8);
    background-blend-mode: multiply;
    box-shadow: 2px 2px 6px #c9cea8;
    margin-top: 15%;
}
#banner-serv div {
    display: flex;
    flex-direction: column;
    width: 70%;
}
#banner-serv a:nth-child(1) {
    background: #fff;
    font: 12px Verdana;
    margin: 4%;
    padding: 8px;
    color: #3f4228;
    text-decoration: none;
    border-radius: 12px;
    width: 52%;
}
#banner-serv div h2 {
    color: #fff;
    font-size: 22px;
    padding: 8px;
    font-family: Arial;
}
#banner-serv div a {
    background: #ff952e;
    font: 12px Verdana;
    font-weight: 600;
    margin: 10% 4%;
    padding: 8px;
    color: #3f4228;
    text-decoration: none;
    border-radius: 12px;
    width: 42%;
}
#banner-serv img {
    width: 100px;
    height: 75px;
    align-self: flex-end;
    filter: invert(100%);
}
.host-serv {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10%;
}
.host-serv h2 {
    font: 22px Arial;
    line-height: 1.5;
    color: #444;
}
.host-serv img {
    border-radius: 8px;
    margin: 2% 0%;
}
.host-serv p {
    font: 18px Calibri;
    color: #222;
    line-height: 1.5;
    text-align: justify;
}
.host-serv a {
    font-size: 22px;
    font-family: Verdana;
    color: #ff952e;
}
#newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background: url(../graphics/new-tires-brampton.jpg);
    background-color: rgba(22, 20, 129, 0.5);
    background-blend-mode: overlay;
    align-items: center;
    justify-content: center;
}
#newspanel {
    width: 80%;
    height: 70vh;
    background: #3f4228;
    font-family: Arial;
}
#newspanel h3 {
    color: #c9cea8;
    font-size: 26px;
    margin: 4%;
}
#newspanel h4 {
    color: #babba5;
    margin: 4% 4% 10% 4%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
#newspanel label {
    color: #c9cea8;
    margin: 8% 4%;   
}
#newspanel input {
    border: 1px solid #fdffdd;
    border-bottom: 4px solid #c9cea8;
    /*background-color: #c5c5c5;*/
    font-size: 14px;
    width: 85%;
    height: 35px;
    margin: 8% 4%;
    padding: 8px;
}
#newspanel input[type=submit] {
    width: 45%;
    height: 7vh;
    background: #ff952e;
    border: none;
    box-shadow: 4px 4px 12px #373a21;
    color: #fbffe2;
    font-size: 18px;
}
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #373a21;
    font-family: arial;
}
footer h1 {
    margin-top: 25%;
    border-top: 4px solid #c9cea8;
    width: 30%;
    margin-left: 10%;
    color: #c9cea8;
    padding: 4% 0%;
}
footer h2 {
    color: #c9cea8;
    margin: 4% 10%;
    line-height: 1.5;
}
footer h3 {
    margin: 4% 10%;
    color: #c9cea8;
    line-height: 1.5;
}
#contact-cartech {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background: #774d22;
}
#contact-cartech p {
    margin-left: 10%;
    font-size: 24px;
    margin-bottom: 4%;
}
#contact-cartech div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 8% 0;
}
#contact-cartech div a {
    color: bisque;
    font-size: 36px;
}
.nav-foot {
    display: flex;
    flex-direction: column;
    margin: 10%;
    font-family: arial;
}
.nav-foot a {
    font-size: 18px;
    color: #c9cea8;
    margin: 2%;
}
#stamp {
    color: #222;
    background: #babba5;
    font: 16px Calibri;
    padding: 8px;
}
#stamp a {
    color: #373a21;
}
@media screen and (min-width:720px) {
    header {
        background: url(../graphics/cartech-ontario.jpg);
        justify-content: center;
        position: relative;
    }
    #ham {
        display: none;
        overflow: hidden;
    }
    header nav { 
        display: flex;
        flex-direction: row;
        width: 33%;
        height: 10vh;
        overflow: visible;
        position: relative;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    header nav a:nth-child(1) {
        display: none;
    }
    header nav a {
        color: #333;
        background: rgba(255,255,255,0.7);
        border-radius: 22px;
        font: 14px Arial;
        width: 100px;
        height: 30px;
        padding: 0px;
        text-align: center;
        line-height: 2;
        margin: 9% 1%;
        transition: 0.5s;
    }
    header nav a:hover {
        background: rgba(255,255,255,1);
        border: 2px solid #3f4228;
        width: 125px;
        font-weight: 600;
    }
    #cartech-logo {
        width: 33%;
        align-items: center;
    }
    #login {
        /*background: #373a21;*/
        padding: 8px;
        width: 33%;
        border-radius: 21px;
        align-items: center;
    }
    #login a {
        background: #73765d;
        width: 30%;
        height: 9vh;
        border-radius: 12px;
    }
    #login i {
        color: #c9cea8;
    }
    #login span {
        color: #c9cea8;
    }
    #cartech-landing-cover {
        background: url(../graphics/cartech-ontario.jpg);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-position: auto;
        background-repeat: no-repeat;
        text-align: center;
        margin-top: 0;
    }
    #cartech-landing-cover h3 {
        font-size: 28px;
    }
    #cartech-landing-cover h1 {
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 2%;
        transition: 1s;
    }
    #cartech-landing-cover h2 {
        font-size: 24px;
        margin-top: 2%;
    }
    #cartech-landing-cover h4 {
        font-size: 24px;
    }
    #to-serv {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 10%;
        margin-left: 10%;
        width: 30%;
    }
    @keyframes glowup {
        from{opacity: 0; font-size: 14px;}
        to {opacity: 1; font-size: 14px;}
    }   
    #to-serv a {
        background-color: rgba(255,255,255,0.7);
        color: #161611;
        font-size: 14px;
        font-family: Calibri;
        text-decoration: none;
        font-weight: 500;
        border-radius: 12px;
        margin-top: 3%;
        padding: 8px;
        margin-left: 4%;
        width: 100px;
        animation: glowup 2s;
        transition: 2s ease-in-out;
        font-weight: 600;
    }
    #to-serv a:hover {
        background: #888;
        transition: 0.5s;
        width: 103px;
    }
    #section2 {
        flex-direction: row;
    }
    #section2 div h1 {
    margin: 18% 10% 0%;
    font-size: 40px;
}
#section2 div h2 {
    margin: 2% 10%;
    font-size: 32px;
}
#section2 div h5 {
    margin: 15% 10%;
}
#section2 div p {
    margin: 4% 10%;
}
#section2 div a {
    margin: 2% 10%;
}
#secImg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#section2 img {
    width: 70%;
    box-shadow: 12px 12px 0px #babba5;
    margin-top: 15%;
    align-self: center;
    margin-bottom: 18%;
}
#section2 img:hover {
    filter: contrast(60%);
}
#membership-cartech {
    height: 70vh;
}
#membership-cartech h2 {
    margin-top: 5%;
}
#membership-cartech h3 {
    margin-top: 2%;
}
#membership-cartech h6 {
    margin-top: 2%;
    margin-bottom: 0%;
}
#membership-cartech a {
    margin-top: 5%;
    transition: 0.6s;
}
#membership-cartech a:hover {
    width: 195px;
    height: 96px;
    background-color: #202212;
}
#serv-home {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 10%;
}
#banner-serv {
    width: 40%;
    height: 50vh;
    background-size: cover;
    margin-left: 8%;
    margin-top: 10%;
}
#banner-serv div h2 {
    color: #fff;
    font-size: 36px;
    padding: 16px;
    font-family: Arial;
}
.host-serv {
    width: 30%;
    height: 40vh;
}
#newsletter {
    background-size: cover;
    height: 90vh;
}
#newspanel {
    width: 40%;
    margin-top: 3%;
}
#newspanel input[type=submit] {
    width: 145px;
    margin-top: 0;
}
footer {
    flex-direction: row;
}
footer div h1 {
    font-size: 48px;
}
#contact-cartech {
    width: 90%;
    margin-left: 10%;
    border-radius: 12px;
    margin-bottom: 8%
}
.nav-foot {
    width: 20%;
}
.nav-foot a {
    margin: 0;
    padding: 8px;

}

}
